body {
    padding: 0px;
    margin: 0px;
}

.font1 {
    font-family: 'Merriweather', serif;
}

.font2 {
    font-family: 'Inter', sans-serif;
}

.header_main_align {
    padding: 50px 140px;
}

/* banner section 1*/

.banner {
    position: relative;
    text-align: center;
    color: white;
}


.banner_img {
    background: linear-gradient(180deg, #070211 0%, #07021100 100%), url('../images/Banner Image.png');
    width: 1320px;
    height: 600px;
    border-radius: 16px;
}

.banner_mini_title {
    position: absolute;
    top: 120px;
    left: 530px;
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 0px auto;
}

.banner_title {
    position: absolute;
    top: 170px;
    left: 344px;
    right: 300px;
    font-size: 52px;
    font-weight: 900;
    margin-bottom: 0px auto;
    line-height: 95px;
}

/* banner section 2*/

.banner2 {
    text-align: center;
}

.banner2_h1 {
    color: #FF0000;
    font-size: 88px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 0px;
}

.banner2_h5 {
    color: #FF0000;
    font-size: 24px;
    font-weight: 500;
    margin-top: 48px;
    margin-bottom: 0px;
}

.banner2_h3 {
    color: #070211;
    font-size: 48px;
    font-weight: 700;
    margin-top: 5px;
}

/* main section image/bg 1 */

.main_sec_img1 {
    background: linear-gradient(90deg, #070211 0%, #07021100 100%), url('../images/Vectorrr.png');
    width: 1320px;
    height: 600px;
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
}

.image_portion {}

.image_text {
    color: white;
}

.image_text_h1 {
    position: absolute;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
    word-wrap: break-word;
    width: 600px;
    top: 1645px;
    left: 266px;
}

.image_text_p {
    position: absolute;
    color: rgba(255, 255, 255, 0.80);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    word-wrap: break-word;
    top: 1880px;
    left: 266px;
    width: 700px;
}

.image_text_bt {
    position: absolute;
    top: 2010px;
    left: 298px;
    background-color: transparent;
    color: white;
    border: none;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    word-wrap: break-word;
}

.image_image {
    width: 320px;
    height: 465px;
    padding-right: 145px;
    padding-top: 52px;
    /* mix-blend-mode:normal; */
}

/* main section bg 2 */

.main_section2 {
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0) 100%);
    border-radius: 16px;
    width: 1320px;
}

.para {
    color: #070211;
    font-size: 32px;
    font-weight: 600;
    text-transform: capitalize;
    line-height: 56px;
    word-wrap: break-word;
    text-align: center;
    padding-top: 50px;
    margin-top: 100px;
}

.para p {
    margin-bottom: 0px;
}

.text_decoration {
    color: #FF0000;
    font-size: 32px;
    font-weight: 600;
    text-transform: capitalize;
    line-height: 56px;
    word-wrap: break-word;
}

.main_section2_btt {
    text-align: center;
    padding-top: 64px;
    padding-bottom: 126px;
}

.main_section2_bt {
    background: #FF0000;
    color: white;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    word-wrap: break-word;
    border: none;
    padding: 16px 32px;
    border-radius: 8px;
}

.main_section3 {
    display: flex;
    gap: 70px;
    margin: 100px auto;
}

.main_section3_1st {
    max-width: 400px;
}

.main_section3_1st_h4 {
    color: #FF0000;
    font-size: 24px;
    font-weight: 500;
    word-wrap: break-word;
}